@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Belanosima:wght@400;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --principalcolor:#4B9960; /*Verde*/
    --secundariocolor: #0D1630; /*Azul*/
    --terciariocolor: #ffffff;
    --doradocolor: #EBC35E;
    --negrocolor: #000000; 
    --font:Montserrat;  
}

*{
    margin: 0;
    font-family: var(--font);
}

/*Header*/
header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
 margin-left:1rem;
}
.imagen-logo{
 width: 100px;

}

.navbar{
    width: 20%;
    display: flex;
    justify-content: space-between;

}

.navbar a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    color: var(--terciariocolor);
}

.icono-login{
    margin-right: 1rem;
}
.icono-login a{
    text-decoration: none;
}

.icono-login i{
    font-size: 40px;
    color: var(--terciariocolor);
    border-radius: 100%;
    background: var(--principalcolor);
    padding: 0.5rem;
    
}

/* Inicio*/
.Inicio{
    width: 100%;
    background: linear-gradient(180deg, rgba(13,22,48,1) 20%, rgba(75,153,96,1) 100%);
    height: 75vh;
    

}

.container-Inicio{
    height: 74.5vh;
    width: 80%;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    margin-left: 100px;
    
}

.texto{
    margin-left: 25rem;
    color: white;
    align-self: center;
    border: 2px solid red;

}

.inicio-image{
    align-self: end;
    border: 2px solid white;
    height: 90%;
}

/* Cards*/
.tarjetas{
    height: 75vh;
}
.cards {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
    height: 100%;

}

.card{
    color: white;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-width: 6px;
    border-color: white;
    border-style: double;
    border-radius: 1em;
    background-color: #0D1630;
    width: 33%;
    height: 40vh;
}

.card-body{
    height: 100%;
    display: flex;
    flex-direction: column;

}
.login {
    background-color: aqua;
}
#iconlogin {
    padding-left:auto;
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card {
    background-color: #333; /* Color de fondo de las tarjetas */
    color: white;
    width: 32%; /* Cada tarjeta ocupa un 32% del ancho total, con el 4% sobrante utilizado para el espacio entre tarjetas */
    padding: 20px;
    border-radius: 1rem; /* Opcional: Redondeo de bordes */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative; /* Para posicionar el botón */
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; /* El cuerpo de la tarjeta crece para llenar el espacio disponible */
}

.card svg {
    margin-bottom: 1rem;
}

.card h3 {
    margin: 1rem 0;
}

.card p {
    margin-bottom: 1rem;
}

.card button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 1rem;
    cursor: pointer;
    position: absolute;
    bottom: 20px; /* Espacio desde el margen inferior */
}

.card button .boton {
    color: white;
    text-decoration: none;
}

.card button:hover {
    background-color: darkgreen; /* Color al pasar el cursor */
}


#creatorneo {
    color: #4B9960;
    background-color: white;

}

.segundo {
    margin: 1em;
    display: flex;
    flex-direction: row;
}

.texto {
    text-align: justify;
}
.texto p {
    color: #0D1630;
    font-weight: bold;
}

.contacto {
    color: white;
    background-color: #0D1630;
    text-align: center;
}

.elem-contactos {
    display: flex;
    flex-direction: row;
}
